<div class="container">
    <div class="features-layout">
        <div class="layout-item">
            <mat-icon>local_shipping</mat-icon>

            <p class="title">Бесплатная доставка</p>

            <p class="description">Free Shipping on all order</p>
        </div>

        <div class="border"></div>

        <div class="layout-item">
            <mat-icon>cached</mat-icon>

            <p class="title">Возврат / Обмен</p>

            <p class="description">Free Shipping on all order</p>
        </div>

        <div class="border"></div>

        <div class="layout-item">
            <mat-icon>done_all</mat-icon>

            <p class="title">Только оригинал!</p>

            <p class="description">Free Shipping on all order</p>
        </div>

        <div class="border"></div>

        <div class="layout-item sale">
            <mat-icon>whatshot</mat-icon>

            <p class="title">Постоянные скидки</p>

            <p class="description">Free Shipping on all order</p>
        </div>
    </div>
</div>
