<div class="container">
    <div class="header-layout">
        <a [routerLink]="['/home']" class="header-logo">
            Groove <br> Avenue
        </a>

        <div class="mobile-menu">
            <button class="burger" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>

            <a class="mobile-search" (click)="search()">
                <mat-icon class="mx-2">search</mat-icon>
            </a>

            <mat-menu #menu="matMenu">
                <button mat-menu-item
                        [routerLink]="['/girl']"
                        routerLinkActive="active">Он
                </button>

                <button mat-menu-item
                        [routerLink]="['/man']"
                        routerLinkActive="active">Она
                </button>

                <button mat-menu-item class="sale"
                        [routerLink]="['/sale']"
                        routerLinkActive="active">Sale
                </button>

                <button mat-menu-item
                        [routerLink]="['/about']"
                        routerLinkActive="active">О нас
                </button>

                <button mat-menu-item
                        [routerLink]="['/info']"
                        routerLinkActive="active">Информация
                </button>
            </mat-menu>
        </div>

        <ul class="header-menu">
            <li class="menu-item menu-item-has-children"
                routerLinkActive="active-children">
                <a class="item-link">Он
                    <mat-icon class="mx-2">keyboard_arrow_down</mat-icon>
                </a>

                <ul class="sub-menu py-2">
                    <li class="menu-item">
                        <a class="item-link"
                           [routerLink]="['/man-shoes']">Кроссовки</a>
                    </li>

                    <li class="menu-item">
                        <a class="item-link"
                           [routerLink]="['/man-accessories']">Аксессуары</a>
                    </li>
                </ul>
            </li>

            <li class="menu-item menu-item-has-children"
                routerLinkActive="active-children"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="item-link">Она
                    <mat-icon class="mx-2">keyboard_arrow_down</mat-icon>
                </a>

                <ul class="sub-menu py-2">
                    <li class="menu-item">
                        <a class="item-link"
                           [routerLink]="['/girl-shoes']">Кроссовки</a>
                    </li>

                    <li class="menu-item">
                        <a class="item-link"
                           [routerLink]="['/girl-accessories']">Аксессуары</a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a class="item-link sale"
                   [routerLink]="['/sale']"
                   routerLinkActive="active">Sale</a>
            </li>

            <li class="menu-item">
                <a class="item-link"
                   [routerLink]="['/about']"
                   routerLinkActive="active">О нас</a>
            </li>

            <li class="menu-item">
                <a class="item-link"
                   [routerLink]="['/info']"
                   routerLinkActive="active">Информация</a>
            </li>
        </ul>

        <ul class="header-user">
            <li class="menu-item profile">
                <a class="item-link" [routerLink]="['/profile/']">
                    <span>Профиль</span>
                    <mat-icon class="mx-2">person</mat-icon>
                </a>
            </li>

            <li class="menu-item">
                <a class="item-link" [routerLink]="['/favorite/']">
                    <span>Избранное</span>
                    <mat-icon class="mx-2">favorite</mat-icon>
                </a>
            </li>

            <li class="menu-item">
                <a class="item-link" [routerLink]="['/cart/']">
                    <span>Корзина</span>
                    <mat-icon class="mx-2">shopping_cart</mat-icon>
                </a>
            </li>

            <li class="menu-item search">
                <a class="item-link" (click)="search()">
                    <span>Поиск</span>
                    <mat-icon class="mx-2">search</mat-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
