@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../styles/variables";

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        color: $primary-link-color;

        &:hover,
        &.active {
            cursor: pointer;
            text-decoration: none;
            color: $primary-link-hover-color;
        }
    }

    .header-logo {
        font-family: $font-permanent;
        font-size: 30px;
        line-height: 1;
        margin-right: 10px;

        @include media-breakpoint-down(md) {
            order: 1;
            margin: 0 10px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }

    .mobile-menu {
        order: 3;
        display: none;

        @include media-breakpoint-down(lg) {
            display: flex;
        }

        @include media-breakpoint-down(md) {
            order: 0;
        }

        .burger {
            ::ng-deep {
                .mat-button-wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 20px 10px;
                }
            }
        }

        .mobile-search {
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px 10px;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    .header-menu {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .header-user {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            order: 2;
        }

        .item-link {
            span {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }

        .profile,
        .search {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .menu-item {
        a.item-link {
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px 12px;

            @include media-breakpoint-down(md) {
                padding: 20px 10px;
            }
        }
    }

    .menu-item-has-children {
        position: relative;

        .sub-menu {
            position: absolute;
            top: 100%;
            z-index: 2;
            left: 0;
            min-width: 200px;
            background-color: $main-background;
            border-radius: $border-radius;
            box-shadow: $primary-box-shadow;

            &:after {
                left: 12px;
            }

            .menu-item {
                a.item-link {
                    padding: 12px;
                    width: 100%;
                }
            }
        }

        &:not(:hover) {
            .sub-menu {
                display: none;
            }
        }
    }

    .sale {
        color: $warn-color;

        &:hover,
        &:active {
            color: $warn-color;
        }
    }
}

.mat-menu-item {
    text-align: right;

    &.sale {
        color: $warn-color;

        &:hover,
        &:active {
            color: $warn-color;
        }
    }
}
