a {
  color: $primary-link-color;

  &:hover {
    color: $primary-link-hover-color;
    text-decoration: underline;
  }
}

.section-title {
  font-size: 28px;
  font-weight: $medium-font-weight;
  text-align: center;
  margin-bottom: 20px;
}
