@import "../../styles/variables";

.main {
    .main-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .main-header {
            min-width: 100%;
            border-bottom: $border-bottom;
        }

        .main-body {
            flex-grow: 1;
        }
    }
}
