<p class="body-title mb-3">Сброс пароля</p>

<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <fieldset formGroupName="password">
        <mat-form-field class="mb-3">
            <input id="new-password" placeholder="Новый пароль" [type]="hideNewPassword ? 'password' : 'text'" matInput
                   formControlName="newPassword" required>
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" type="button" class="toggle-password">
                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
                <app-validator-message [field]="resetPasswordForm.get('password').get('newPassword')"></app-validator-message>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3">
            <input id="repeat-new-password" placeholder="Подтвердите новый пароль" [type]="hideRepeatNewPassword ? 'password' : 'text'" matInput
                   formControlName="repeatNewPassword" required>
            <button mat-icon-button matSuffix (click)="hideRepeatNewPassword = !hideRepeatNewPassword" type="button" class="toggle-password">
                <mat-icon>{{hideRepeatNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
                <app-validator-message [field]="resetPasswordForm.get('password').get('repeatNewPassword')">
                </app-validator-message>
            </mat-error>
        </mat-form-field>
    </fieldset>

    <button class="btn btn-primary btn-lg mx-2"
            type="submit"
            [disabled]="resetPasswordForm.invalid">Сбросить</button>
</form>

<p class="body-additional-action text-center mt-3 mb-0">
    <a [routerLink]="['/auth/login']">Вернуться к авторизации</a>
</p>
