<p class="body-title mb-3">Забыли пароль?</p>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <mat-form-field class="mb-3">
        <input id="email" matInput placeholder="Введите Email" formControlName="email" required>
        <mat-error>
            <app-validator-message [field]="forgotPasswordForm.get('email')"></app-validator-message>
        </mat-error>
    </mat-form-field>

    <button class="btn btn-primary btn-lg mx-2"
            type="submit"
            [disabled]="forgotPasswordForm.invalid">Отправить</button>
</form>

<p class="body-additional-action text-center mt-3 mb-0">
    <a [routerLink]="['/auth/login']">Вернуться к авторизации</a>
</p>
